<div>
    <button class="btn btn-primary" routerLink="/create">New</button>
  </div>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contact of contacts">
        <td>{{ contact.id }}</td>
        <td>{{ contact.firstName }}</td>
        <td>{{ contact.lastName }}</td>
        <td>{{ contact.email }}</td>
        <td><button class="btn btn-primary" [routerLink]="['/edit', contact.id]">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteContact(contact.id)">Delete</button></td>
      </tr>
    </tbody>
  </table>
  